html {
  height: 100%;
}

body {
  background: url("img/space2.jpg");
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

h1 {
  color: white;
  transform: scale(1.2);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.user-input {
  height: 25px;
  width: 300px;
}

.add-button {
  margin-left: 6px;
  padding: 0.5rem;
  cursor: pointer;
}

/* rank list container */
.rank-list {
  /*background: rgba(0, 0, 0, 0.4);*/
  background: rgba(60, 70, 100, 0.8);
  width: 400px;
  margin: auto;
  border: 1px solid black;
  padding: 10px 5px 10px 5px;
  font-family: "Bitter", serif;
  font-weight: bold;
}

/* each row in the rank list */
.rank-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*list-style-type: none;*/

  background: white;
  border: 1px solid black;
  height: 35px;
  margin: 10px;
  padding: 10px;
  padding-left: 30px;
}

/* the content of each rank row */
.rank-item {
  width: 100%;
  text-align: center;
  /*text-transform: uppercase;*/
}

/* the delete button of each rank row */
.delete-btn {
  opacity: 0;
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
}

/* make the delete icon clickable as well */
.fa-times {
  pointer-events: none;
}

/* transition for the delete button when the rank row is hovered*/
.rank-row:hover > .delete-btn {
  opacity: 1;
  border: none;
  background: none;
}

/* when a rank row is being dragged */
.dragging {
  opacity: 0.6;
}

footer {
  height: 50px;
}
