body {
  background: rgb(179, 238, 255);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.rank-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-item {
  background: white;
}
